.progressBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 101;
  pointer-events: none;
  mix-blend-mode: difference;
}

.progressBar {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform-origin: left;
  transform: scaleX(0);
}
